
      .app-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      
      
      /* 4j: Style for welcome message */
      .welcome-message {
        text-align: center;
        color: rgb(120, 120, 120);
        margin-top: 20px;
      }